@{ 
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/css/css/main_page.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/css/css/radiotoggle.css" rel="stylesheet" />
</head>
<body>



    <div class="header" id="myHeader">
        <h2>My Header</h2>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2 sidebarleft">
                <ol>
                    <li class="lisidebar activesidebar">
                        <a class="asidebar">Home</a>
                    </li>
                    <li class="lisidebar">
                        <p class="asidebar">PUBLIC</p>
                        <ol class="mt-2">
                            <li class="lisubsidebar">
                                <i class="far fa-globe-asia"></i>
                                <span class="spanquestions">Questions</span>
                            </li>
                            <li class="lisubsidebar">
                                <span class="spanlisub">Tags</span>
                            </li>

                            <li class="lisubsidebar">
                                <span class="spanlisub">Users</span>
                            </li>
                        </ol>
                    </li>
                    <li class="lisidebar">
                        <a class="asidebar">FIND A JOB</a>
                        <ol class="mt-2">
                            <li class="lisubsidebar">
                                Jobs
                            </li>

                            <li class="lisubsidebar">
                                Companies
                            </li>
                        </ol>
                    </li>
                    <li class="lisidebar">
                        <a class="asidebar">TEAMS</a>
                    </li>
                </ol>
            </div>
            <div class="col-md-5 centerlayout">
                <div class="row">
                    <div class="col-md-5 divtopquestion"><span class="topquestion">Top Questions</span></div>
                    <div class="col-md-7 divbuttonask">
                        <button class="btnAsk"><span>Ask Question</span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="switch-field">
                        <input type="radio" id="radio-three" name="switch-two" value="yes" checked />
                        <label for="radio-three">One</label>
                        <input type="radio" id="radio-four" name="switch-two" value="maybe" />
                        <label for="radio-four">Two</label>
                        <input type="radio" id="radio-five" name="switch-two" value="no" />
                        <label for="radio-five">Three</label>
                        <input type="radio" id="radio-six" name="switch-two" value="no" />
                        <label for="radio-six">Three</label>
                        <input type="radio" id="radio-seven" name="switch-two" value="no" />
                        <label for="radio-seven">Three</label>
                    </div>

                </div>
                <div class="row">

                </div>
            </div>

            <div class="col-md-3 sidebarright">
                c
            </div>
        </div>
    </div>

    <script>
        window.onscroll = function () { myFunction() };

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>

</body>
</html>