
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/css/main_page.css" rel="stylesheet" />
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>Winku Social Network Toolkit</title>
        <link rel="icon" href="~/images/fav.png" type="image/png" sizes="16x16">

        <link rel="stylesheet" href="~/css/css/main.min.css">
        <link rel="stylesheet" href="~/css/css/style.css">
        <link rel="stylesheet" href="~/css/css/color.css">
        <link rel="stylesheet" href="~/css/css/responsive.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">*@
</head>

<div class="central-meta">
    <div class="new-postbox">
        <p class="">
            <b class="textheader"> Top Questions</b>
            <button id="btnQuestion">Ask Question</button>
            <div class="btn-group btn-group-toggle button_head" data-toggle="buttons">
                <label class="btn  btn-lg-open btn-lg bt_fil active" style="">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Interesting
                </label>
                <label class="btn  btn-lg-open btn-lg bt_fil" style=" border-color: #9fa6ad; ">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Bountied
                </label>
                <label class="btn btn-lg-open  btn-lg bt_fil" style=" border-color: #9fa6ad; ">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Hot
                </label>
                <label class="btn  btn-lg-open btn-lg  bt_fil" style=" border-color: #9fa6ad; ">
                    <input type="radio" name="options" id="option4" autocomplete="off"> Week
                </label>
                <label class="btn  btn-lg-open btn-lg bt_fil" style=" border-color: #9fa6ad;">
                    <input type="radio" name="options" id="option5" autocomplete="off"> Month
                </label>
            </div>
        </p>


        @*<b class="textheader"> Top Questions</b>*@
        <!--<button id="btnQuestion_i" class="btn_filter">Interesting</button>
        <button id="btnQuestion_b" class="btn_filter">Bountied</button>
        <button id="btnQuestion_h" class="btn_filter">Hot</button>
        <button id="btnQuestion_w" class="btn_filter">Week</button>
        <button id="btnQuestion_m" class="btn_filter">Month</button>-->




    </div>

</div>
<div class="central-meta_v2">
    <div class="row">
        <div class="col-md-3">
            <div class="ul_number">
                <p class="text_gif">
                    1
                </p>
                <p>
                    votes
                </p>
            </div>
            <div class="ul_number ml-4">
                <p class="text_center">
                    1
                </p>
                <p class="text_center_bottom">
                    answers
                </p>
            </div>
            <div class="ul_number mar_end ml-5">
                <p class="text_gif">
                    1
                </p>
                <p>
                    views
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <a href="/questions/67235715/what-does-this-command-mean-in-linux" class="question-hyperlink">Từ này trong tiếng trung là gì 日本語</a>
                </div>
            </div>
            <div class="row  mt-3">
                <div class="col-md-6">
                    <a href="/questions/tagged/java" class="post-tag" title="" rel="tag">java</a>
                    <a href="/questions/tagged/java" class="post-tag" title="" rel="tag">java</a>
                </div>
                <div class="col-md-6" style="text-align:right;">
                    <a href="/questions/67235715/what-does-this-command-mean-in-linux" class="started-link">
                        asked <span title="2021-04-23 19:16:16Z" class="relativetime">1 min ago</span>
                    </a><a href="/users/8181909/saurav-saha">Saurav Saha</a> 471
                </div>
            </div>
        </div>
    </div>
</div>




