
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <div id="doc" class="yui-t1">
        <div id="main_header">


            <div id="header">
             
                        <div class="row">
                            <div class="col-md-3 mt-2">
                                <img src="~/images/credit-cards.png" class="logo"/>
                            </div>
                            <div class="col-md-9 mt-1 centerheader">

                                <button class="button button_header">Product</button>
                                <input type="search" class="w-50 ml-1" />
                                <img src="~/images/credit-cards.png" class="ml-2" />
                                <button class="ml-1 img_respon">
                                    @*<img src="~/images/inbox.svg" class=""/>*@
                                </button>
                                <button class=" img_respon">
                                    @*<img src="~/images/inbox.svg" class="" />*@
                                </button>
                                <button class="ml-1 img_respon">
                                    @*<img src="~/images/inbox.svg" class="" />*@
                                </button>
                              
                            </div>
                            
                        </div>
                    
                
            </div>
        </div>
        <div id="main_body">
            @RenderBody();
        </div>
        <div id="main_footer">
            <div id="footer">Footer</div>
        </div>
    </div>
</body>
</html>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/bootstrap/js/bootstrap.js"></script>
<script src="~/bootstrap/js/bootstrap.bundle.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>