
/*//header*/
@media only screen and (max-width:500px) {
     /*For mobile phones: */
    .menu, .main, .right  {
        width: 100%;
    }
    .button_header{
        display:none
    }
    .logo{
        display: none;
    }
   
}
.header {
    padding: 10px 16px;
    background: white;
    color: #f1f1f1;
    border-bottom: 1px inset;
}
.button_header {
    border-radius: 1000px;
    height: 30px;
    color: #535a60;
    width: 100px;
    background-color: #4CAF50; /* Green */
    border: none;
    background-color: white;
    /*	padding: 20px;*/
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
}

.button:hover {
    background-color: #dddddd; /* Green */
}
.ps-relative {
    position: relative !important;
    width: 50%;
    margin-right: 15px;
}
.top-bar .searchbar .s-input {
    border-color: var(--black-200);
    background-color: var(--white);
    box-shadow: none;
    color: var(--black-700);
}

.s-input.s-input__search, .s-input.s-input__creditcard {
    padding-left: 32px;
    margin-left: 5px;
}

.s-input, .s-textarea {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: .6em .7em;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    font-size: 13px;
    font-family: inherit;
    line-height: 1.15384615;
    scrollbar-color: var(--scrollbar) transparent;
}

.s-input-icon.s-input-icon__search, .s-input-icon.s-input-icon__creditcard {
    right: auto;
    left: .7em;
    color: #bbc0c4;
}

.s-input-icon {
    position: absolute;
    top: 50%;
    right: .7em;
    margin-top: -9px;
    pointer-events: none;
}
.img_respon {
    background-size: 25px;
    /* background-size: 20px; */
    width: 30px;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    background-position-x: center;
    cursor: pointer;
    margin-left: 15px;
}
.img_respon_v1 {
    background-size: 30px;
    /* background-size: 20px; */
    width: 30px;
    /*background-image: url('/images/inbox.svg');*/
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    background-position-x: center;
    cursor: pointer;
}

.img_respon_v2 {
    background-size: 25px;
    /* background-size: 20px; */
    width: 30px;
    /*	background-image: url('/images/inbox.svg');*/
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    background-position-x: center;
    cursor: pointer;
}
svg:hover {
    color: black;
}
.logo {
    float: right;
}
.centerheader {
    display: inherit;
}
.s-input:focus{
    outline:none
}
.button_header:hover {
    color: black !important;
}
/*footer*/
#footer {
    height: 50px;
    background: #BFBD93;
    border-top: #FFFFFF 2px solid;
    margin: 0;
    padding: 0;
    bottom: 0px;
    left: 0px;
    position: fixed;
    width: 100%
}
.fa-sign-in:before {
     color: blueviolet;
}
.spanshortsign{
    color:black;
}
.el-button {
    background-color: white;
    border: none;
}
@media all and (min-height: 320px) {
    #footer {
        position: unset !important;
    }
}
@media all and (min-height: 600px) {
    #footer {
        position: unset !important;
    }
    svg {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }

}

@media all and (min-height: 750px) {


    #footer {
        position: absolute !important;
    }

    .logo {
        display: none;
    }
    svg {
        margin-left: 5px !important;
    }

}
@media all and (min-height: 1000px) {

    nav {
        display: none !important;
    }

    .logo {
        display: block !important;
    }

    #footer {
        position: fixed;
    }

    .logo {
        /*  display: none;*/
        margin-top: 0px !important;
    }

    .avatauser {
        height: max-content !important;
    }

    .img_respon {
        height: max-content !important;
    }

    svg {
        margin-left: 5px !important;
    }

    .centerheader {
        margin-left: 20px;
        display: contents !important;
    }

    .avatauser {
        height: 30px !important;
        width: 50px !important;
        float: left !important;
        margin-left: 4px !important;
    }

    .s-input-icon {
        width: fit-content !important;
        height:15px !important;
    }

    .ps-relative {
        width: fit-content !important;
        display: flex !important;
    }
    .sidebarright {
        width: 24% !important;
    }
    .divtopquestion {
        white-space: pre;
    }
    .topquestion {
        font-size: xx-large;
        padding: 16px;
    }
}
@media all and (min-height: 1200px) {
    #footer {
        position: unset;
    }
  
}
@media all and (min-width: 320px) {

    #footer {
        position: unset !important;
    }
    svg {
        margin-left: 5px;
    }
}
@media all and (min-width: 350px) and (min-height : 740px ) {

    #footer {
        position: absolute !important;
    }

    svg {
        margin-left: 5px;
    }
}
@media all and (min-width: 600px) {
    #footer {
        position: absolute !important;
    }
}

@media all and (min-width: 750px) {


    #footer {
        position: absolute !important;
    }

    .logo {
        display: none;
    }

    svg {
        margin-left: 5px !important;
    }
}

@media all and (min-width: 1000px) {

    nav {
        display: none !important;
    }

    .logo {
        display: block !important;
    }

    #footer {
        position: fixed;
    }

    .logo {
        /*  display: none;*/
        margin-top: 0px !important;
    }

    .avatauser {
        height: max-content !important;
    }

    .img_respon {
        height: max-content !important;
    }

    svg {
        margin-left: 5px !important;
    }

    .centerheader {
        margin-left: 20px;
        display: contents !important;
    }

    .avatauser {
        height: 30px !important;
        width: 50px !important;
        float: left !important;
        margin-left: 4px !important;
    }
    .s-input-icon.s-input-icon__search, .s-input-icon.s-input-icon__creditcard {
        width: fit-content !important;
        height: 15px !important;
    }
   

    .ps-relative {
        width: fit-content !important;
        display: flex !important;
    }

    .sidebarright {
        width: 24% !important;
    }

    .divtopquestion {
        white-space: pre;
    }

    .topquestion {
        font-size: xx-large;
        padding: 16px;
    }
}

@media all and (min-width: 1280px) {
    #footer {
        position: unset;
    }
}