
:root {
    --purple: #8321d0;
    --white: #ffffff;
}
/*EndAll*/
.inputtitle {
    width: 600px;
}
.inputtags {
    width: 600px;
}
.bootstrap-tagsinput {
    width: 600px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}



.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 102px;
    }

a::marker {
    content: '';
}

li::marker {
    content: '';
}

.lisidebar {
    margin-top: 20px;
}

.asidebar {
    color: #6a737c;
    margin-left: 3px;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

    .asidebar:hover {
        color: var(--purple);
    }

.lisubsidebar {
    color: #6a737c;
    margin-left: 3px;
    font-weight: 500;
}

    .lisubsidebar:hover {
        color: var(--purple);
    }

.sidebarleft {
    height: 100%;
    cursor: pointer;
}

.activesidebar {
    border-right: 3px solid purple;
    background-color: #eff0f1;
    cursor: pointer;

}
.activesidebar_v1 {
    color: purple;
}
.spanlisub {
    margin-left: 35px;
    cursor: pointer;
}

.spanquestions {
    margin-left: 12px;
    cursor: pointer;
}

.lisubsidebar.svg-icon {
    flex-shrink: 0;
    margin-top: -1px;
    margin-right: 4px;
    color: #848d95;
}

.topquestion {
    font-size: 35px;
}

.divbuttonask {
    margin-top: 13px !important;
    display: table-caption;
    direction: rtl;
}

.btnAsk {
    width: max-content;
    border: none;
    background-color: #0095ff;
    height: 40px;
    border-radius: 5px;
    color: white;
}

    .btnAsk:hover {
        background-color: #1228d9
    }

.olsidebar {
    display: contents;
}

.liquestion {
    display: flex;
}
.labelfilter {
    border-radius: 3px !important;
    /* border: 1px inset; */
    color: black !important;
    background-color: #fafafb !important;
}
.labelactive {
    background-color: #e4e6e8 !important;
}
.lisiderighthead {
    height: 41px;
    /*width: 300px;*/
    background-color: #c9c0e4;
  /*  position: relative;*/
    border-radius: 4px;
    padding: 5px 5px;
    cursor: pointer;
    padding: 10px 18px;
}
.lisiderighthead_v1 {
    background-color: #efe9ff;
    font-size: 100%;
    padding: 2px;
    border-radius: 4px;
    padding: 10px 10px;
}
    .sidebarright {
        border-radius:4px;
        /* background-color :#ded9f3*/
    }
.olsideright {
    background-color: #ded9f3 ;
    height: 41px;
    width: 300px;
}
.olsiderighthead {
    background-color: #ebe8f8
}
.fa-pen {
    margin-right: 12px;
    margin-left: 12px;
    font-size: 12px;
}
.shortlinksideright {
    text-decoration: none !important;
    color: #3c4146 !important;
    cursor: pointer;
}
    .shortlinksideright:hover {
        color: #6a737c !important;
    }
a{
    text-decoration: none !important;
    cursor:pointer;
}
.mainpost {
   /* border-bottom: 1px inset;*/
    display: flex;
}
.imguser {
/*width: 100%;*/
}
.aimguser{
    border-radius:50%;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatardiv {
    display: contents;
}
.post-tag{
    font-size: 12px;
}
.post-tag{
    color: #39739d;
    width: fit-content !important;
    background-color: #e1ecf4;
    border-color: #00000000;
}
.post-tag {
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}
.divinfo {
    display: block !important;
}
.divlikequest{
    position:relative;
}
.position {
    bottom: 2px;
    right : 0px;
    position: absolute;
}
.titlehead{

    word-break:break-all;
}
.info {
    color: #6a737c; 
}
.info:hover {
    color: var(--purple);
}
.user {
    word-break: break-all;
    cursor:pointer;
}
/*.info_v1 {
   display:contents
}*/
.spanblog {
    color: #6a737c;
    font-size: 15px;
    font-weight: bold;
    margin-left: 12px;
    padding: 12px 15px;
    position: absolute;
    margin-top: -8px;
    display: contents;
}
/*//header*/

.header {
    padding: 10px 16px;
    background: white;
    color: #f1f1f1;
    border-bottom: 1px inset;
}
.button_header {
    border-radius: 1000px;
    height: 30px;
    color: #535a60;
    width: 100px;
    background-color: #4CAF50; /* Green */
    border: none;
    background-color: white;
    /*	padding: 20px;*/
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
}

.button:hover {
    background-color: #dddddd; /* Green */
}
.ps-relative {
    position: relative !important;
    width: 50%;
    margin-right: 15px;
}
.top-bar .searchbar .s-input {
    border-color: var(--black-200);
    background-color: var(--white);
    box-shadow: none;
    color: var(--black-700);
}

.s-input.s-input__search, .s-input.s-input__creditcard {
    padding-left: 32px;
    margin-left: 5px;
}

.s-input, .s-textarea {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: .6em .7em;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    font-size: 13px;
    font-family: inherit;
    line-height: 1.15384615;
    scrollbar-color: var(--scrollbar) transparent;
}

.s-input-icon.s-input-icon__search, .s-input-icon.s-input-icon__creditcard {
    right: auto;
    left: .7em;
    color: #bbc0c4;
}

.s-input-icon {
    position: absolute;
    top: 50%;
    right: .7em;
    margin-top: -9px;
    pointer-events: none;
}
.img_respon {
    background-size: 25px;
    /* background-size: 20px; */
    width: 30px;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    background-position-x: center;
    cursor: pointer;
    margin-left: 15px;
}
.img_respon_v1 {
    background-size: 30px;
    /* background-size: 20px; */
    width: 30px;
    /*background-image: url('/images/inbox.svg');*/
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    background-position-x: center;
    cursor: pointer;
}

.img_respon_v2 {
    background-size: 25px;
    /* background-size: 20px; */
    width: 30px;
    /*	background-image: url('/images/inbox.svg');*/
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    background-position-x: center;
    cursor: pointer;
}
svg:hover {
    color: black;
}
.logo {
    float: right;
}
.centerheader {
    display: inherit;
}
.s-input:focus{
    outline:none
}
.button_header:hover {
    color: black !important;
}
/*footer*/
#footer {
    height: 50px;
    background: #BFBD93;
    border-top: #FFFFFF 2px solid;
    margin: 0;
    padding: 0;
    bottom: 0px;
    left: 0px;
    position: fixed;
    width: 100%
}
a{
    cursor:pointer !important;
}
.aquestion{
    color:black
}
.aquestion:hover {
    color: #0095ff !important
}
hr.new1 {
    border-top: 1px solid #bbc0c4;
}
.statical{
    margin-right:10px;
}
.ustatistical {
    padding: 23px 30px !important;
    display: initial;
}

.divstatistical {
    border: 1px solid #dee2e6 !important;
    background-color: white !important
}
.statiscalquestionnum {
   /* margin-left: 8px;*/
    padding: 10px 40px;
}

.listatical {
    padding: 10px;
    margin-left: 18px;
}
.numquestion {
    
}


.datetimespan {
    color: #bbc0c4;
    cursor: pointer
}
.txtquestion {
    font-size: large;
}

.numquestion {
    font-size: xx-large;
}
.logoaskquestion{
    width:10%;
    opacity :1 !important
}
.modal-title {
    font-size: xx-large;
    font-weight: bold;
}
.subtext{
    width:max-content;
}
.modal-content {
    margin-top: 20px !important;
}
.modal-footer{
    justify-content:center !important;
}
/*form mobile*/
/* For Tablet With Vertical Screen */
/* For Tablet With Horizontal Screen */
/* For Desktop */
/*horizon*/
/*@media all and (min-height: 320px) {
    .topquestion {
        display: none
    }

    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .mainpost {
        width: 100%;
    }

    .txtquestion {
      
    }

    .numquestion {
       
    }

    .ps-relative {
        display: none
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .img_respon {
        margin-left: 25px;
    }

    .switch-field {*/
        /*margin-left: -150px;*/
    /*}

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }

    .sidebarleft {
        display: none;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }
}
@media all and (min-height: 600px) {
    .topquestion {
        display: none
    }

    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }

    .mainpost {
        width: 100%;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .sidebarleft {
        display: none;
    }

    .ps-relative {
        display: none
    }

    .numquestion {
       
    }

    .txtquestion {
       
    }

    svg {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }

    .img_respon {
        margin-left: 25px;
    }

    .switch-field {
        margin-left: 0px;
    }

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }
}
@media all and (min-height: 750px) {
   
   
}
@media all and (min-height: 1000px) {
    .presidebarleft{
        display:none;
    }
    .sidebarleft {
        display: block !important;
    }
    .numquestion {
        padding: 20px !important;
    }
    .txtanswer {
        font-size: large;
    }
    .topquestion {
        display: block !important;
    }
    .switch-field {
        margin-left :0px !important;
    }
    .aftersiderightbar{
        display:none;
    }
    .centerlayout{
        width:443px !important;
    }
    .mainpost {
        margin-left:20px !important;
    }
    .topquestion {
       display:none;
    }
    .ps-relative{
        display:block;
        width:30px;
    }
}
@media all and (min-height: 1024px) {

    .topquestion {
        display: none
    }

    #footer {
        position: unset;
    }

    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .mainpost {
        width: 100%;
    }

    .txtquestion {
     
    }

    .numquestion {
      
    }

    .ps-relative {
        display: none
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .img_respon {
        margin-left: 25px;
    }

    .switch-field {*/
        /*margin-left: -150px;*/
    /*}

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }

    .sidebarleft {
        display: none;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }
    .olstatistic{
        display:none;
    }*/
    /*.numanswer {
        padding: 20px;
        font-size: xx-large;
    }
    .txtbestanswer{

    }
    .txtuser {
        font-size: x-large;
    }
    .numuser {
        padding: 20px;
        font-size: xx-large;
    }
    .numbestanswer {
        padding: 20px;
        font-size: xx-large;
    }*/
/*}
@media all and (min-height: 1200px) {
    .topquestion {
        display: none
    }
    .sidebarleft {
        width: 25% !important ;
        display: inline-block !important;
    }

    .centerlayout {
        width: 50% !important;
    }
    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .mainpost {
        width: 100%;
    }

    .txtquestion {
        
    }

    .numquestion {
       
    }

    .ps-relative {
        display: none
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .img_respon {
        margin-left: 25px;
    }

    .switch-field {*/
        /*margin-left: -150px;*/
    /*}

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }

    .sidebarleft {
        display: none;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }
}*/
/*vetigal*/
/*@media all and (min-width: 320px) {
    .topquestion {
        display: none
    }

    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .mainpost {
        width: 100%;
    }

    .txtquestion {
       
    }

    .numquestion {
       
    }

    .ps-relative {
        display: none
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .img_respon {
        margin-left: 25px;
    }

    .switch-field {*/
        /*margin-left: -150px;*/
    /*}

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }

    .sidebarleft {
        display: none;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }
}

@media all and (min-width: 600px) {
    .topquestion {
        display: none
    }

    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }

    .mainpost {
        width: 100%;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .sidebarleft {
        display: none;
    }

    .ps-relative {
        display: none
    }

    .numquestion {
       
    }

    .txtquestion {
       
    }

   
    .img_respon {
        margin-left: 25px;
    }

    .switch-field {
        margin-left: -150px;
    }

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }
}

@media all and (min-width: 750px) {
}

@media all and (min-width: 1000px) {
    .presidebarleft {
        display: none;
    }

    .sidebarleft {
        width: 25% !important;
        display: inline-block !important;
    }

    .topquestion {
        display: block !important;
    }

    .switch-field {
        margin-left: 0px !important;
    }

    .aftersiderightbar {
        display: none;
    }

    .centerlayout {
        width: 50% !important;
    }

    .mainpost {
        margin-left: 20px !important;
    }

    .topquestion {
        display: none;
    }

    .ps-relative {
        display: block;
        width: 30px;
    }
}

@media all and (min-width: 1024px) {

    .topquestion {
        display: none
    }

    #footer {
        position: unset;
    }

    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .mainpost {
        width: 100%;
    }

    .txtquestion {
      
    }

    .numquestion {
        
    }

    .ps-relative {
        display: none
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .img_respon {
        margin-left: 25px;
    }

    .switch-field {*/
        /*margin-left: -150px;*/
    /*}

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }

    .sidebarleft {
      display: block !important;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }
}

@media all and (min-width: 1280px) {
    .presidebarleft{
        display:block;
    }
 
    .centerlayout {
        width: 40% !important;
    }
    .sidebarleft{
        width:15% !important;
    }
    .ps-relative {
        width: 45% !important;
    }
    .bi-eye {
        width: 18px;
        height: 18px;
    }
    .user{
        width:fit-content;
    }
    .olstatistic {
        display: flex;
        margin-top: 35px;
    }
    .listatistic {
        display: grid;
        border-bottom: 1px solid #b2c6cd;
    }
    .astatistic{
        text-align:center;
    }
    .txtanswer {
        font-size: large;
        color: red !important;
    }
    .txtquestion {
        font-size: large;
        color: blue !important;
    }
    .numanswer {
        font-size: xx-large;
        color: black !important;
    }
    .numquestion {
        font-size: xx-large;
        color: black !important;
    }
    .listatisticquestion{
        margin-left:-30px;
    }
    .listatisticanswers {
        margin-left: 40px;
    
    }
    .listatisticbestanswer {
        margin-left: -30px;
    }
    .listuser {
        margin-left: 40px;
    }
    .txtbestanswer {
        font-size: large;
        color: green !important;
    }
    .numbestanswer {
        font-size: xx-large;
        color: black !important;
    }
    .txtuser {
        font-size: large;
        color: blue !important;
    }
    .numuser {
        font-size: xx-large;
        color: black !important;
    }
    .dialogify .dialogify__fixedwidth{
        max-width :max-content !important;
    }
}*/


    /*Custom*/

/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
    .sidebarleft{
        display:none;
    }
}
/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {
}