/*.formquestion_body
{*/
/*margin-top:100px;*/
/*}
.textheader_v1 {
    height: 20px;
    color: black;
    font-size: 2.07692308rem !important;
    margin-top: 30px;
}
.central-meta_v3 {
    background: #fdfdfd none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    margin-top: -150px;
    padding: 25px;
}
.s-input, .s-textarea {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: .6em .7em;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    background-color: #fff;
    color: #0c0d0e;
    font-size: 13px;
    font-family: inherit;
    line-height: 1.15384615;
}
.sidebar_v1 {
    display: table;
    float: none;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 80%;
}
.gap {
  margin-top :50px;
}
.widget_v1{
    margin-top:125px;
}
.formquestion {
    margin-top: -60px;
}
.sidebarleft{
    background-image: url('/images/backgroundsidebar_ask.jpg');
    background-repeat:no-repeat;
    background-position-x:bottom;
    background-size :98%
}*/
/*#main_header {
    position: fixed;
    margin-top: -100px;
}
#main_body {
    margin-top: 100px;
}*/
/*hoang*/
/*.content {
    height: 100%;*/
/*background:#CCC8B3;*/
/*border-top: #FFFFFF 2px solid;
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-left: 15em
}

#secondary {
    height: 300px;
    background: #F6F0E0;
    border-top: #FFFFFF 2px solid;
    margin: 0;
    padding: 0;
}


#secondaryFull {
    height: 50px;
    background-color: #CFB59F;
    border-top: #FFFFFF 2px solid;
    margin: 0;
    padding: 0;
}

.yui-b {
   
    position: relative;
    background-color:white;
}

.yui-b {
    _position: static;
}*/
/* for IE < 7 */
/*#yui-main .yui-b {
    position: static;
}

#yui-main {
    width: 100% !important;
    background-color:white!important*/
/* margin-top:5em;*/
/*}

.yui-t1 #yui-main,
.yui-t2 #yui-main,
.yui-t3 #yui-main {
    float: right;
    margin-left: -25em;*/ /* IE: preserve layout at narrow widths */
/*}

.yui-t4 #yui-main,
.yui-t5 #yui-main,
.yui-t6 #yui-main {
    float: left;
    margin-right: -25em;*/ /* IE: preserve layout at narrow widths */
/*}

.yui-t1 .yui-b {
    float: left;
    width: 12.3207em;
    *width: 12.0106em;
}

.yui-t1 #yui-main .yui-b {*/
/*margin-left: 21.3207em;
    *margin-left: 13.0106em;*/
/*}

.yui-t2 .yui-b {
    float: left;*/
/* width: 13.8456em;
    *width: 13.512em;*/
/*}

.yui-t2 #yui-main .yui-b {
    margin-left: 14.8456em;
    *margin-left: 14.512em;
}

.yui-t3 .yui-b {
    float: left;
    width: 23.0759em;
    *width: 22.52em;
}

.yui-t3 #yui-main .yui-b {
    margin-left: 24.0759em;
    *margin-left: 23.52em;
}

.yui-t4 .yui-b {
    float: right;
    width: 13.8456em;
    *width: 13.512em;
}

.yui-t4 #yui-main .yui-b {
    margin-right: 14.8456em;
    *margin-right: 14.512em;
}

.yui-t5 .yui-b {
    float: right;
    width: 18.4608em;
    *width: 18.016em;
}

.yui-t5 #yui-main .yui-b {
    margin-right: 19.4608em;
    *margin-right: 19.016em;
}

.yui-t6 .yui-b {
    float: right;
    width: 23.0759em;
    *width: 22.52em;
}

.yui-t6 #yui-main .yui-b {
    margin-right: 24.0759em;
    *margin-right: 23.52em;
}

.yui-t7 #yui-main .yui-b {
    display: block;
    margin: 0 0 1em 0;
}

#yui-main .yui-b {
    float: none;
    width: auto;
    width: 100% !important;
    background-color:white !important;
}*/
/* GRIDS (not TEMPLATES) */
/*.yui-g .yui-u,
.yui-g .yui-g,
.yui-gc .yui-u,
.yui-gc .yui-g .yui-u,
.yui-ge .yui-u,
.yui-gf .yui-u {
    float: right;
    display: inline;
}

.yui-g div.first,
.yui-gc div.first,
.yui-gc div.first div.first,
.yui-gd div.first,
.yui-ge div.first,
.yui-gf div.first {
    float: left;
}

.yui-g .yui-u,
.yui-g .yui-g {
    width: 49.1%;
}

    .yui-g .yui-g .yui-u,
    .yui-gc .yui-g .yui-u {
        width: 48.1%;
    }

.yui-gb .yui-u,
.yui-gc .yui-u,
.yui-gd .yui-u {
    float: left;
    margin-left: 2%;
    *margin-left: 1.895%;
    width: 32%;
}

.yui-gb div.first,
.yui-gc div.first,
.yui-gd div.first {
    margin-left: 0;
}

.yui-gc div.first,
.yui-gd .yui-u {
    width: 66%;
}

.yui-gd div.first {
    width: 32%;
}

.yui-ge .yui-u {
    width: 24%;
}

.yui-ge div.first,
.yui-gf .yui-u {
    width: 74.2%;
}

.yui-gf div.first {
    width: 24%;
}

.yui-ge div.first {
    width: 74.2%;
}

#bd:after,
.yui-g:after,
.yui-gb:after,
.yui-gc:after,
.yui-gd:after,
.yui-ge:after,
.yui-gf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#bd,
.yui-g,
.yui-gb,
.yui-gc,
.yui-gd,
.yui-ge,
.yui-gf {
    zoom: 1;
}

li::marker {
    content: ''
}

.s-input {
    width: 100%;
}

.fs-headline1 {
    font-size: 2.07692308rem !important;
}

.s-btn__primary {
    color: #fff;
    background-color: #0095ff;
    box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 40%);
    border: none;
    height: 40px;
    border-radius: 5px;
}
nav {*/
/* margin-left: 18em;*/
/*}
.sidebarleft {
    height: 80%;
    margin-top: 50px;
    border-right: 1px inset;
}
.centerlayout {
    height: 80%;
    margin-top: 50px;
}
.sidebarright {
    height: 80%;
    margin-top: 50px;
}

.nav-links {
    padding: 0;
    margin: 0 0 12px;
    list-style: none;
}
ul, ol, li {
    margin: 0;
    padding: 0;
}
.nav-links .nav-links--link {
    display: block;
    padding: 4px;
    padding-left: 30px;
    line-height: 1.8;
    font-size: 13px;
}
.nav-links .youarehere .nav-links--link {
    font-weight: bold;
    background: var(--black-050);
    color: var(--black-900);
    border-right: 3px solid var(--theme-primary-color);
}
a {
   
    text-decoration: none;
    cursor: pointer;
}
a, .s-link {
    
    user-select: auto;
}
.grid {*/
/*display: flex;*/
/*}
.ai-center {
    align-items: center !important;
}
.truncate {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis !important;
    white-space: nowrap;
}
.left-sidebar, .left-sidebar *, .left-sidebar *:after, .left-sidebar *:before {
    box-sizing: border-box;
}
.tt-uppercase {
    text-transform: uppercase !important;
}
.fc-light {
    color: #6a737c;
}
.fs-fine {
    font-size: 11px !important;
}
.ml8 {
    margin-left: 8px !important;
}
.mb4 {
    margin-bottom: 4px !important;
}
.mt16 {
    margin-top: 16px !important;
}
.nav-links .nav-links--link.-link__with-icon {
    display: flex;
    padding: 8px 6px 8px 0;
}
.nav-links .nav-links--link, .nav-links .nav-links--link:visited {
    color: #535a60;
}
.nav-links .nav-links--link {
    line-height: 1.8;
    font-size: 13px;
}
    .nav-links .nav-links--link.-link__with-icon .svg-icon {
        flex-shrink: 0;
        margin-top: -1px;
        margin-right: 4px;
        color: #535a60;
    }
    .nav-links .nav-links--link .-link--channel-name {
        line-height: 1.30769231;
    }
.nav-links .nav-links--link {
    display: block;
    padding: 4px;
    padding-left: 30px;
    line-height: 1.8;
    font-size: 13px;
}
a {
    text-decoration:none !important;
    cursor: pointer;
}*/
/*
Copyright (c) 2007, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.2.2
*/
/* for all templates and grids */
:root {
    --purple: #8321d0;
    --white: #ffffff;
}
/*EndAll*/
.inputtitle {
    width: 600px;
}
.inputtags {
    width: 600px;
}
.bootstrap-tagsinput {
    width: 600px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}



.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 102px;
    }

a::marker {
    content: '';
}

li::marker {
    content: '';
}

.lisidebar {
    margin-top: 20px;
}

.asidebar {
    color: #6a737c;
    margin-left: 3px;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

    .asidebar:hover {
        color: var(--purple);
    }

.lisubsidebar {
    color: #6a737c;
    margin-left: 3px;
    font-weight: 500;
}

    .lisubsidebar:hover {
        color: var(--purple);
    }

.sidebarleft {
    height: 100%;
    cursor: pointer;
}

.activesidebar {
    border-right: 3px solid purple;
    background-color: #eff0f1;
    cursor: pointer;

}
.activesidebar_v1 {
    color: purple;
}
.spanlisub {
    margin-left: 35px;
    cursor: pointer;
}

.spanquestions {
    margin-left: 12px;
    cursor: pointer;
}

.lisubsidebar.svg-icon {
    flex-shrink: 0;
    margin-top: -1px;
    margin-right: 4px;
    color: #848d95;
}

.topquestion {
    font-size: 35px;
}

.divbuttonask {
    margin-top: 13px !important;
    display: table-caption;
    direction: rtl;
}

.btnAsk {
    width: max-content;
    border: none;
    background-color: #0095ff;
    height: 40px;
    border-radius: 5px;
    color: white;
}

    .btnAsk:hover {
        background-color: #1228d9
    }

.olsidebar {
    display: contents;
}

.liquestion {
    display: flex;
}
.labelfilter {
    border-radius: 3px !important;
    /* border: 1px inset; */
    color: black !important;
    background-color: #fafafb !important;
}
.labelactive {
    background-color: #e4e6e8 !important;
}
.lisiderighthead {
    height: 41px;
    /*width: 300px;*/
    background-color: #c9c0e4;
  /*  position: relative;*/
    border-radius: 4px;
    padding: 5px 5px;
    cursor: pointer;
    padding: 10px 18px;
}
.lisiderighthead_v1 {
    background-color: #efe9ff;
    font-size: 100%;
    padding: 2px;
    border-radius: 4px;
    padding: 10px 10px;
}
    .sidebarright {
        border-radius:4px;
        /* background-color :#ded9f3*/
    }
.olsideright {
    background-color: #ded9f3 ;
    height: 41px;
    width: 300px;
}
.olsiderighthead {
    background-color: #ebe8f8
}
.fa-pen {
    margin-right: 12px;
    margin-left: 12px;
    font-size: 12px;
}
.shortlinksideright {
    text-decoration: none !important;
    color: #3c4146 !important;
    cursor: pointer;
}
    .shortlinksideright:hover {
        color: #6a737c !important;
    }
a{
    text-decoration: none !important;
    cursor:pointer;
}
.mainpost {
   /* border-bottom: 1px inset;*/
    display: flex;
}
.imguser {
/*width: 100%;*/
}
.aimguser{
    border-radius:50%;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatardiv {
    display: contents;
}
.post-tag{
    font-size: 12px;
}
.post-tag{
    color: #39739d;
    width: fit-content !important;
    background-color: #e1ecf4;
    border-color: #00000000;
}
.post-tag {
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}
.divinfo {
    display: block !important;
}
.divlikequest{
    position:relative;
}
.position {
    bottom: 2px;
    right : 0px;
    position: absolute;
}
.titlehead{

    word-break:break-all;
}
.info {
    color: #6a737c; 
}
.info:hover {
    color: var(--purple);
}
.user {
    word-break: break-all;
    cursor:pointer;
}
/*.info_v1 {
   display:contents
}*/
.spanblog {
    color: #6a737c;
    font-size: 15px;
    font-weight: bold;
    margin-left: 12px;
    padding: 12px 15px;
    position: absolute;
    margin-top: -8px;
    display: contents;
}
/*//header*/

.header {
    padding: 10px 16px;
    background: white;
    color: #f1f1f1;
    border-bottom: 1px inset;
}
.button_header {
    border-radius: 1000px;
    height: 30px;
    color: #535a60;
    width: 100px;
    background-color: #4CAF50; /* Green */
    border: none;
    background-color: white;
    /*	padding: 20px;*/
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
}

.button:hover {
    background-color: #dddddd; /* Green */
}
.ps-relative {
    position: relative !important;
    width: 50%;
    margin-right: 15px;
}
.top-bar .searchbar .s-input {
    border-color: var(--black-200);
    background-color: var(--white);
    box-shadow: none;
    color: var(--black-700);
}

.s-input.s-input__search, .s-input.s-input__creditcard {
    padding-left: 32px;
    margin-left: 5px;
}

.s-input, .s-textarea {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: .6em .7em;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    font-size: 13px;
    font-family: inherit;
    line-height: 1.15384615;
    scrollbar-color: var(--scrollbar) transparent;
}

.s-input-icon.s-input-icon__search, .s-input-icon.s-input-icon__creditcard {
    right: auto;
    left: .7em;
    color: #bbc0c4;
}

.s-input-icon {
    position: absolute;
    top: 50%;
    right: .7em;
    margin-top: -9px;
    pointer-events: none;
}
.img_respon {
    background-size: 25px;
    /* background-size: 20px; */
    width: 30px;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    background-position-x: center;
    cursor: pointer;
    margin-left: 15px;
}
.img_respon_v1 {
    background-size: 30px;
    /* background-size: 20px; */
    width: 30px;
    /*background-image: url('/images/inbox.svg');*/
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    background-position-x: center;
    cursor: pointer;
}

.img_respon_v2 {
    background-size: 25px;
    /* background-size: 20px; */
    width: 30px;
    /*	background-image: url('/images/inbox.svg');*/
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    background-position-x: center;
    cursor: pointer;
}
svg:hover {
    color: black;
}
.logo {
    float: right;
}
.centerheader {
    display: inherit;
}
.s-input:focus{
    outline:none
}
.button_header:hover {
    color: black !important;
}
/*footer*/
#footer {
    height: 50px;
    background: #BFBD93;
    border-top: #FFFFFF 2px solid;
    margin: 0;
    padding: 0;
    bottom: 0px;
    left: 0px;
    position: fixed;
    width: 100%
}
a{
    cursor:pointer !important;
}
.aquestion{
    color:black
}
.aquestion:hover {
    color: #0095ff !important
}
hr.new1 {
    border-top: 1px solid #bbc0c4;
}
.statical{
    margin-right:10px;
}
.ustatistical {
    padding: 23px 30px !important;
    display: initial;
}

.divstatistical {
    border: 1px solid #dee2e6 !important;
    background-color: white !important
}
.statiscalquestionnum {
   /* margin-left: 8px;*/
    padding: 10px 40px;
}

.listatical {
    padding: 10px;
    margin-left: 18px;
}
.numquestion {
    
}


.datetimespan {
    color: #bbc0c4;
    cursor: pointer
}
.txtquestion {
    font-size: large;
}

.numquestion {
    font-size: xx-large;
}
.logoaskquestion{
    width:10%;
    opacity :1 !important
}
.modal-title {
    font-size: xx-large;
    font-weight: bold;
}
.subtext{
    width:max-content;
}
.modal-content {
    margin-top: 20px !important;
}
.modal-footer{
    justify-content:center !important;
}
/*form mobile*/
/* For Tablet With Vertical Screen */
/* For Tablet With Horizontal Screen */
/* For Desktop */
/*horizon*/
@media all and (min-height: 320px) {
    .topquestion {
        display: none
    }

    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .mainpost {
        width: 100%;
    }

    .txtquestion {
      
    }

    .numquestion {
       
    }

    .ps-relative {
        display: none
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .img_respon {
        margin-left: 25px;
    }

    .switch-field {
        /*margin-left: -150px;*/
    }

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }

    .sidebarleft {
        display: none;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }
}
@media all and (min-height: 600px) {
    .topquestion {
        display: none
    }

    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }

    .mainpost {
        width: 100%;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .sidebarleft {
        display: none;
    }

    .ps-relative {
        display: none
    }

    .numquestion {
       
    }

    .txtquestion {
       
    }

    svg {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }

    .img_respon {
        margin-left: 25px;
    }

    .switch-field {
        margin-left: 0px;
    }

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }
}
@media all and (min-height: 750px) {
   
   
}
@media all and (min-height: 1000px) {
    .presidebarleft{
        display:none;
    }
    .sidebarleft {
        display: block !important;
    }
    .numquestion {
        padding: 20px !important;
    }
    .txtanswer {
        font-size: large;
    }
    .topquestion {
        display: block !important;
    }
    .switch-field {
        margin-left :0px !important;
    }
    .aftersiderightbar{
        display:none;
    }
    .centerlayout{
        width:443px !important;
    }
    .mainpost {
        margin-left:20px !important;
    }
    .topquestion {
       display:none;
    }
    .ps-relative{
        display:block;
        width:30px;
    }
}
@media all and (min-height: 1024px) {

    .topquestion {
        display: none
    }

    #footer {
        position: unset;
    }

    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .mainpost {
        width: 100%;
    }

    .txtquestion {
     
    }

    .numquestion {
      
    }

    .ps-relative {
        display: none
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .img_respon {
        margin-left: 25px;
    }

    .switch-field {
        /*margin-left: -150px;*/
    }

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }

    .sidebarleft {
        display: none;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }
    .olstatistic{
        display:none;
    }
    /*.numanswer {
        padding: 20px;
        font-size: xx-large;
    }
    .txtbestanswer{

    }
    .txtuser {
        font-size: x-large;
    }
    .numuser {
        padding: 20px;
        font-size: xx-large;
    }
    .numbestanswer {
        padding: 20px;
        font-size: xx-large;
    }*/
}
@media all and (min-height: 1200px) {
    .topquestion {
        display: none
    }
    .sidebarleft {
        width: 25% !important ;
        display: inline-block !important;
    }

    .centerlayout {
        width: 50% !important;
    }
    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .mainpost {
        width: 100%;
    }

    .txtquestion {
        
    }

    .numquestion {
       
    }

    .ps-relative {
        display: none
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .img_respon {
        margin-left: 25px;
    }

    .switch-field {
        /*margin-left: -150px;*/
    }

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }

    .sidebarleft {
        display: none;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }
}
/*vetigal*/
@media all and (min-width: 320px) {
    .topquestion {
        display: none
    }

    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .mainpost {
        width: 100%;
    }

    .txtquestion {
       
    }

    .numquestion {
       
    }

    .ps-relative {
        display: none
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .img_respon {
        margin-left: 25px;
    }

    .switch-field {
        /*margin-left: -150px;*/
    }

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }

    .sidebarleft {
        display: none;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }
}

@media all and (min-width: 600px) {
    .topquestion {
        display: none
    }

    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }

    .mainpost {
        width: 100%;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .sidebarleft {
        display: none;
    }

    .ps-relative {
        display: none
    }

    .numquestion {
       
    }

    .txtquestion {
       
    }

   
    .img_respon {
        margin-left: 25px;
    }

    .switch-field {
        margin-left: -150px;
    }

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }
}

@media all and (min-width: 750px) {
}

@media all and (min-width: 1000px) {
    .presidebarleft {
        display: none;
    }

    .sidebarleft {
        width: 25% !important;
        display: inline-block !important;
    }

    .topquestion {
        display: block !important;
    }

    .switch-field {
        margin-left: 0px !important;
    }

    .aftersiderightbar {
        display: none;
    }

    .centerlayout {
        width: 50% !important;
    }

    .mainpost {
        margin-left: 20px !important;
    }

    .topquestion {
        display: none;
    }

    .ps-relative {
        display: block;
        width: 30px;
    }
}

@media all and (min-width: 1024px) {

    .topquestion {
        display: none
    }

    #footer {
        position: unset;
    }

    .rowtitle {
        width: 500px;
        word-break: break-all;
    }

    .mainpost {
        width: 100%;
    }

    .txtquestion {
      
    }

    .numquestion {
        
    }

    .ps-relative {
        display: none
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .img_respon {
        margin-left: 25px;
    }

    .switch-field {
        /*margin-left: -150px;*/
    }

    .labelfilter {
        font-size: 12px !important;
        font-weight: 100;
        font-family: -webkit-pictograph;
        width: 73px;
        height: 37px;
        display: initial !important;
        padding: 9px 1px !important;
    }

    .listatical {
        text-align: center !important;
    }

    .statiscalquestionnum {
        text-align: center !important;
    }

    .sidebarleft {
      display: block !important;
    }

    .maininfoquestion {
        width: 70%;
        float: right;
    }

    .user {
        width: 50%;
    }

    .datetimespan {
        width: 50%;
        display: contents;
    }
}

@media all and (min-width: 1280px) {
    .presidebarleft{
        display:block;
    }
 
    .centerlayout {
        width: 40% !important;
    }
    .sidebarleft{
        width:15% !important;
    }
    .ps-relative {
        width: 45% !important;
    }
    .bi-eye {
        width: 18px;
        height: 18px;
    }
    .user{
        width:fit-content;
    }
    .olstatistic {
        display: flex;
        margin-top: 35px;
    }
    .listatistic {
        display: grid;
        border-bottom: 1px solid #b2c6cd;
    }
    .astatistic{
        text-align:center;
    }
    .txtanswer {
        font-size: large;
        color: red !important;
    }
    .txtquestion {
        font-size: large;
        color: blue !important;
    }
    .numanswer {
        font-size: xx-large;
        color: black !important;
    }
    .numquestion {
        font-size: xx-large;
        color: black !important;
    }
    .listatisticquestion{
        margin-left:-30px;
    }
    .listatisticanswers {
        margin-left: 40px;
    
    }
    .listatisticbestanswer {
        margin-left: -30px;
    }
    .listuser {
        margin-left: 40px;
    }
    .txtbestanswer {
        font-size: large;
        color: green !important;
    }
    .numbestanswer {
        font-size: xx-large;
        color: black !important;
    }
    .txtuser {
        font-size: large;
        color: blue !important;
    }
    .numuser {
        font-size: xx-large;
        color: black !important;
    }
    .dialogify .dialogify__fixedwidth{
        max-width :max-content !important;
    }
}